encryption = "age"
[age]
    identity = "~/.key"
    recipient = "age1yk52zp9hrrjeuj9k763uqacy3ev6c6u6pt8z2qwkqpruw8trdc7qc3gvlv"
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
{{ $extra := promptBool "Do you want to enable extra packages?" }}
[data]
    extra = {{ $extra }}
{{ end }}

