encryption = "age"
[age]
    identity = "~/.key"
    recipient = "age1yk52zp9hrrjeuj9k763uqacy3ev6c6u6pt8z2qwkqpruw8trdc7qc3gvlv"
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
[data]
{{- $git_email := promptString "git_email" }}
{{- $git_name := promptString "git_name" }}
    git_email = "{{ $git_email }}"
    git_name = "{{ $git_name }}"
{{- $telegram_chat_id := promptString "telegram_chat_id" }}
{{- $telegram_api_key := promptString "telegram_api_key" }}
    telegram_chat_id = "{{ $telegram_chat_id }}"
    telegram_api_key = "{{ $telegram_api_key }}"
    # Add your data here
{{- if eq .chezmoi.os "darwin" }}
{{- $openai_api_key := promptString "openai_api_key" }}
    openai_api_key = "{{ $openai_api_key }}"
{{- $aws_access_key_id := promptString "aws_access_key_id" }}
{{- $aws_secret_access_key := promptString "aws_secret_access_key" }}
    aws_access_key_id = "{{ $aws_access_key_id }}"
    aws_secret_access_key = "{{ $aws_secret_access_key }}"
{{ end }}
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
{{ $extra := promptBool "Do you want to enable extra packages?" }}
    extra = {{ $extra }}
{{ end }}
