telegram:
  - id: "tel"
    telegram_api_key: {{ .telegram_api_key }}
    telegram_chat_id: {{ .telegram_chat_id }} 
    telegram_format: {{ "{{data}}" }}
    telegram_parsemode: "Markdown" # None/Markdown/MarkdownV2/HTML 
