#Author: lost.fany

# ------------------------ Keybindings ------------------------

# Prefix key <Ctrl> + a

# Reload config <prefix> + r
# Install plugins <prefix> + I
# Uninstall plugins <prefix> + u

# Vertical pane split <prefix> + |
# Horizontal pane split <prefix> + \

# Rename session <prefix> + $
# New session <prefix> + <shift + c>
# Select session <prefix> + g or <prefix> + s
# Kill session without detaching <prefix> + X

# Current window to new session: <prefix> + <ctrl + @>
# Current pane to new session: <prefix> + @

# Rename window <prefix> + ,
# New window <prefix> + c

# Resurrect
# prefix + Ctrl-s - save
# prefix + Ctrl-r - restore

# Toggle recording (start/stop) <prefix> + <shift + p>


# Movings
# 

# ------------------------ Configurations ------------------------

# Upgrade $TERM
set -g default-terminal "screen-256color"
set -s escape-time 0
set -g status-interval 5
# set-option -g status-interval 5
set-option -g status-interval 1

# Set vi mode
set-window-option -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection 
bind-key -T copy-mode-vi 'y' send -X copy-selection 
unbind -T copy-mode-vi MouseDragEnd1Pane
is_vim="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"
is_fzf="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?fzf$'"
bind -n C-h run "($is_vim && tmux send-keys C-h) || tmux select-pane -L"
bind -n C-j run "($is_vim && tmux send-keys C-j)  || ($is_fzf && tmux send-keys C-j) || tmux select-pane -D"
bind -n C-k run "($is_vim && tmux send-keys C-k) || ($is_fzf && tmux send-keys C-k)  || tmux select-pane -U"
bind -n C-l run  "($is_vim && tmux send-keys C-l) || tmux select-pane -R"

# Change the prefix key 
set -g prefix C-a

# Set numeric from 1 for windows and panes
set -g base-index 1 
set -g pane-base-index 1 

# Enable mouse support for switching panes/windows
set -g mouse on

# Key bindings
unbind %
bind | split-window -h 
unbind '"'
bind \\ split-window -v
bind r source-file ~/.config/tmux/tmux.conf \; display "Reloaded!"

# Status line
{{ if eq .chezmoi.os "darwin" -}}
set -g status-right '#[fg=yellow] #{keyboard_layout} | #[fg=green]#(whoami)@#H #[fg=yellow] | M #{ram_percentage} | C #{cpu_percentage} | B #{battery_percentage} | %a %h-%d %H:%M '
{{ else -}}
set -g status-right '#[fg=green]#(whoami)@#H #[fg=yellow] | M #{ram_percentage} | C #{cpu_percentage} | %a %h-%d %H:%M '
{{ end -}}
set-option -g status-right-length 100

set-option -g status-left "#[fg=green]#S #[fg=yellow]> " 
set-option -g status-left-length 100

# Set theme
set-option -g status-style bg=default
set-option -g status-justify left
set-option -g window-status-format "#[fg=yellow]#I-#W"
set-option -g window-status-current-format "#[fg=green]#I-#W"

# Plugins 
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-cpu'

{{ if eq .chezmoi.os "darwin" -}}
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @plugin 'imomaliev/tmux-keyboard-layout'
{{ end -}}

set -g @keyboard_layout:length 3
set -g @keyboard_layout:option_scope '-'

set -g @plugin 'tmux-plugins/tmux-logging'
set -g @logging-path "$HOME/.logs/tmux"
set -g history-limit 50000

set -g @plugin 'tmux-plugins/tmux-sessionist'

set -g @plugin 'tmux-plugins/tmux-resurrect' 
# set -g @plugin 'tmux-plugins/tmux-continuum'
# set -g @continuum-restore 'on'
# set -g @continuum-save-interval '5'

run '~/.config/tmux/plugins/tpm/tpm'
